@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
:root {
  --brand-color: #007bff;

  --color-light-1: #eef4f4;
  --color-light-2: #bbc1c1;

  --accent-color-1: #ffc107;
  --accent-color-2: #fd7e14;

  --color-dark-0: #242a2e;
  --color-dark-1: #2d3439;
  --color-dark-2: #42484d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--color-light-1);
  line-height: 1.6;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-light-2);
  transition: all 0.2s;
}

input:focus {
  outline: none;
  background-color: var(--color-light-1);
}

.cta:link,
.cta:visited {
  display: inline-block;
  background-color: var(--brand-color);
  color: var(--color-light-1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}
