.homepage {
  height: 100vh;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("/heroBanner.jpg");
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
}

.homepage section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 85%;
  gap: 2.5rem;
}

.homepage h1 {
  font-size: 4.5rem;
  line-height: 1.3;
}

.homepage h2 {
  font-size: 1.9rem;
  width: 90%;
  color: var(--color-light-2);
  margin: 2.5rem;
}

@media only screen and (min-width: 1280px) and (max-width: 1440) {
}
@media only screen and (min-width: 1024px) and (max-width: 1280) {
}
@media only screen and (min-width: 768px) and (max-width: 1024) {
}
@media only screen and (min-width: 640px) and (max-width: 768) {
}
