.homepage {
  height: 100vh;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("/heroBanner.jpg");
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 85%;
    gap: 2.5rem;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 1.3;
  }

  h2 {
    font-size: 1.9rem;
    width: 90%;
    color: var(--color-light-2);
    margin: 2.5rem;
  }
}
