.login {
  height: 100vh;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("/heroBanner.jpg");
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
}

.form {
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);

  /* Different from other form */
  width: 48rem;
  margin: 8rem auto;

  h1 {
    text-align: center;
  }
  P {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  input {
    width: 80%;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 0.43);
    color: #fff;
    padding: 1.5rem;
  }
  button {
    width: 80%;
    background: var(--brand-color);
    border: none;
    color: #fff;
    padding: 1.7rem;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 2rem;

    &:hover {
      background: var(--brand-color-hover);
      border: 1px solid rgba(255, 255, 255, 0.43);
    }
  }
}
