.pricing {
  min-height: 100vh;
  background-color: var(--color-dark-1);
  padding: 2.5rem 5rem;
  section {
    width: clamp(80rem, 80%, 90rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    align-items: center;
    margin: 6rem auto;
  }
  img {
    width: 100%;
  }
  h2 {
    font-size: 4rem;
    line-height: 1.3;
    margin-bottom: 3rem;
  }
  p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    line-height: 1.5;
  }
}
