.pricing {
  min-height: 100vh;
  background-color: var(--color-dark-1);
  padding: 2.5rem 5rem;
}

.pricing section {
  width: clamp(80rem, 80%, 90rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  align-items: center;
  margin: 6rem auto;
}
.pricing img {
  width: 100%;
}
.pricing h2 {
  font-size: 4rem;
  line-height: 1.3;
  margin-bottom: 3rem;
}
.pricing p {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

@media only screen and (min-width: 1280px) and (max-width: 1440) {
}
@media only screen and (min-width: 1024px) and (max-width: 1280) {
}
@media only screen and (min-width: 768px) and (max-width: 1024) {
}
@media only screen and (min-width: 640px) and (max-width: 768) {
}
