.destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-2);
  margin-top: 2rem;
  border-radius: 2rem;
  gap: 2rem;
}
.destination h2 {
  font-size: 2rem;
}
.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  gap: 1.5rem;
}
.confirm p {
  font-size: 1.5rem;
}
