.attraction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-2);

  border-radius: 2rem;
  gap: 2rem;
  padding: 2rem;
  min-width: 40%;
}
.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.name img {
  height: 5rem;
}
.name h2 {
  font-size: 2.2rem;
}
.rating {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.rating p {
  font-size: 1.5rem;
}
