.attraction {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: var(--color-dark-2);

  border-radius: 2rem;
  gap: 2rem;
  padding: 1rem;
  overflow-y: scroll;
  height: 100%;
}

.attraction h2 {
  font-size: 1.8rem;
}

.rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rating p {
  font-size: 1.4rem;
}

.website a:visited {
  color: var(--color-light-1);
}
.website a {
  width: 100%;
  color: var(--color-light-1);
}
.website,
.address {
  display: flex;
  width: 100%;
  gap: 1rem;
  font-size: 1.5rem;
}
.info {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}
.reviews {
  width: 80%;
  display: flex;
  flex-direction: column;

  gap: 1rem;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-dark-0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-dark-2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-light-2);
}

.reviewButton {
  background-color: var(--color-dark-2);
  color: var(--color-light-1);
  border: 0;
  cursor: pointer;
}

.confirmAttraction {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  p {
    font-size: 1.2rem;
  }
}
.message {
  font-size: 1.4rem;
  font-weight: 600;
}
