.attraction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-2);
  padding: 1rem;
  border-radius: 2rem;
  gap: 2rem;

  width: 90%;
}
.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.name img {
  max-height: 3rem;
}
.name h2 {
  font-size: 1.5rem;
}
.rating {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.rating p {
  font-size: 1rem;
}
.attractionItemInfo {
  padding: 1rem;
}

@media only screen and (min-width: 1280px) and (max-width: 1440) {
}
@media only screen and (min-width: 1024px) and (max-width: 1280) {
}
@media only screen and (min-width: 768px) and (max-width: 1024) {
}
@media only screen and (min-width: 640px) and (max-width: 768) {
}
