.attraction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-2);
  padding: 1rem;
  border-radius: 2rem;
  gap: 2rem;

  width: 90%;
}
.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  img {
    max-height: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
.rating {
  display: flex;
  gap: 1rem;
  align-items: center;
  p {
    font-size: 1rem;
  }
}
.attractionItemInfo {
  padding: 1rem;
}
