.attraction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-2);
  margin-top: 2rem;
  border-radius: 2rem;
  gap: 2rem;
  padding: 2rem;
  width: 80%;
}
.name img {
  width: 3rem;
}
.name h2 {
  font-size: 2.2rem;
}
.rating {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.rating p {
  font-size: 1.5rem;
}
