.autoCompleteItem {
  max-width: 40rem;
  font-size: 1.5rem;
  display: flex;
  gap: 2rem;
  background-color: var(--color-light-1);
  color: var(--color-dark-0);
  &:hover {
    background-color: var(--color-light-2);
    cursor: pointer;
  }
}
