.destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-2);
  width: 100%;
  border-radius: 2rem;
  gap: 2rem;
  padding: 1rem;
}
.destination h2 {
  font-size: 2rem;
}
