.filters {
  padding: 2rem;
  background-color: var(--color-light-1);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  width: 70%;
}
.filterHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--color-dark-1);
  font-size: 1.5rem;
  margin-bottom: 1rem;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  h3 {
    font-size: 1.2em;
    color: #333;
  }
  button {
    padding: 0.3rem 0.7rem;
    font-size: 1em;
    color: var(--color-light-1);
    background-color: var(--brand-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
.filterLabel {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  font-size: 1.1em;
  color: #555;
  width: 100%;

  input {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  span {
    flex: 1;
  }
}

.applyButton {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1em;
  color: var(--color-light-1);
  background-color: var(--brand-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}
.filterButton {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

@media only screen and (min-width: 1280px) and (max-width: 1440) {
}
@media only screen and (min-width: 1024px) and (max-width: 1280) {
}
@media only screen and (min-width: 768px) and (max-width: 1024) {
}
@media only screen and (min-width: 640px) and (max-width: 768) {
}
