.review {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-1);
  color: var(--color-dark-2);
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  border-radius: 2rem;
}
.author {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
  img {
    height: 5rem;
  }
}
.rating {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
}
.text {
  font-size: 1.2rem;
}
