.destinationImage {
  margin: 0;
  height: 27rem;
  background: #364d79;
  width: 100%;
}
.attractionImage {
  margin: 0;
  height: 25rem;
  background: #364d79;
  width: 100%;
}
.imageContainer {
  display: flex;
  justify-content: center;

  width: 100%;
}
