.destinationImage {
  margin: 0;
  height: 30rem;
  background: #364d79;
  max-width: 100%;
}
.attractionImage {
  margin: 0;
  height: 30rem;
  background: #364d79;
  max-width: 100%;
}
.imageContainer {
  display: flex;
  justify-content: center;

  width: 100%;
}
.addedAttractionImage {
  margin: 0;
  height: 10rem;
  width: 15rem;
  background: #364d79;
}
