.tripForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  height: 100%;
  border: 2px solid var(--color-dark-2);
  border-radius: 2rem;
  padding: 2rem;

  input {
    font-size: 1.5rem;
  }
}
